In [1]:
#Module 8 - Working with Numpy

In [2]:
#Assessment 1

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [4]:
#1) Import pandas and read in the banklist.csv file into a dataframe called banks.

In [6]:
banks = pd.read_csv('/content/banklist.csv')
banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
...,...,...,...,...,...,...,...
548,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
549,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
550,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
551,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
552,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

In [8]:
#2) Show the head of the dataframe.
bank = banks.head()
bank

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

In [9]:
#3) What are the column names?
banks.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [ ]:
#4) How many States (ST) are represented in this data set?
banks['ST'].nunique()

44

In [10]:
#5) Get a list or array of all the states in the data set.
banks['ST'].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

In [11]:
#6) What are the top 5 states with the most failed banks?
banks.groupby('ST')['Bank Name'].count().sort_values(ascending=False).head(5)

ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: Bank Name, dtype: int64

In [12]:
#7) What are the top 5 acquiring institutions?
banks.groupby('Acquiring Institution')['Bank Name'].count().sort_values(ascending=False).head(5)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Bank Name, dtype: int64

In [13]:
#8) How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?
# Total acquisitions by State Bank of Texas
total_acquisitions = banks[banks['Acquiring Institution'] == 'State Bank of Texas'].shape[0]

# Acquisitions in Texas by State Bank of Texas
texas_acquisitions = banks[(banks['Acquiring Institution'] == 'State Bank of Texas') & (banks['ST'] == 'TX')].shape[0]

print(f"Total acquisitions by State Bank of Texas: {total_acquisitions}")
print(f"Acquisitions in Texas by State Bank of Texas: {texas_acquisitions}")

Total acquisitions by State Bank of Texas: 3
Acquisitions in Texas by State Bank of Texas: 1

In [14]:
#9) What is the most common city in California for a bank to fail in?
california_banks = banks[banks['ST'] == 'CA']
most_common_city = california_banks.groupby('City')['Bank Name'].count().idxmax()
print(f"The most common city in California for a bank to fail in is: {most_common_city}")

The most common city in California for a bank to fail in is: Los Angeles